/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  padding-block-start: 60px;
  background-color: #fafafa;
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/** Custom color properties **/
:root {
  --clr-grey-500: #4d4f62;
  --clr-grey-400: #6a7178;
  --clr-white: #fff;
  --clr-red: #ea5454;
  --clr-cyan: #44d3d2;
  --clr-blue: #549ef2;
  --clr-orange: #fcae4a;
}

/** Custom font faces **/
/* poppins-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("fonts/poppins-v24-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/poppins-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/poppins-v24-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.section__title {
  font-size: 24px;
  font-weight: 200;
  line-height: 1.4;
  letter-spacing: 0.25px;
  text-align: center;
  margin-block-end: 16px;
  color: var(--clr-grey-500);

  span {
    display: block;
    font-weight: 600;
  }
}

.section__text {
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.1px;
  text-align: center;
  width: 33ch;
  margin-inline: auto;
  color: var(--clr-grey-500);
}

.card-container {
  padding-block: 60px 46px;
  display: grid;
  gap: 32px;
  margin-inline: 30px;
}

.card {
  padding: 32px;
  background-color: var(--clr-white);
  border-radius: 8px;
  box-shadow: 0 15px 30px -11px rgb(131 166 210 / 0.5);
}

.card__title {
  font-size: 20px;
  font-weight: 600;
  color: var(--clr-grey-500);
  line-height: 1.35;
  margin-block-end: 6px;
}

.card__text {
  font-size: 13px;
  line-height: 1.6;
  letter-spacing: 0.09px;
  color: var(--clr-grey-400);
  margin-block-end: 32px;
}

.card__img {
  float: right;
}
